nav {
	background-color: #fca311;
	display: flex;
	justify-content: space-between;
	padding: 1.5% 3%;
}
.cart-btn {
	border: none;

	cursor: pointer;
	transition-duration: 0.2s;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}
.cart-btn p {
	color: #fff;
	width: 25px;
	height: 25px;
	background-color: #14213d;
	text-align: center;
	border-radius: 50%;
	font-size: 1.1rem;
	font-weight: 300;
}
.cart-btn img {
	width: 130%;
}
.cart-btn:hover {
	transform: scale(1.2);
}
.links a {
	margin-left: 15%;
	text-decoration: none;
	color: #14213d;
	font-size: 1.3rem;
	font-weight: 600;
	border: 1px solid #fca311;
	padding: 5px 10px;
}
.links a:hover {
	color: #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
}
