@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
:root {
	--color1: #ffffff;
	--color2: #000000;
	--color3: #e5e5e5;
	--color4: #fca311;
	--color5: #14213d;
}
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
	margin: 0;
	background-color: #e5e5e5;
	font-family: 'Poppins', sans-serif;
	color: var(--color2);
}

a {
	text-decoration: none;
	outline: none;
}
